body{
	/* background-color:lightcoral; */
	background-image: url("../images/galaxy.jpg");
}
.header{
	font-family: 'Permanent Marker', cursive;
	color:yellowgreen;
}
.instruction{
	color:red;
	float:right;
}

div{
	background-color: transparent;
	margin: 10px;
	width: 25%;
}
.getNum, .winorlose{
	color: orange;
}
.userTotal{
	color:purple;
	font-size: 30px;
}

.infinityImage{
	height: 60px;
	margin: 10px;
	background-color: transparent;
}
.InfinityStone{
	clear: both;
	background-color: transparent;
}
.endGame{
	background-color:red;
}
